


 
    <div class="form-group" style='height: 100vh;'>
        <br>
        <h1 class='text-center' style='font-family: "Alumni Sans Pinstripe"'><u>פרוייקט גמר הנדסת תוכנה - מאור
            ורון</u></h1>
            <br>
            <div class="container form-control" style='text-align: right; direction: rtl;'>
                <br><br>
                <h1>תחזית הAI למצב הרוח שלך:</h1>
                    <div class="result-container">
                        <h2>Result:</h2>
                        <ul>
                          <li>distructedLevel: {{ aiApi.response.distructedLevel[0] }}</li>
                          <li>fearLevel: {{ aiApi.response.fearLevel[0] }}</li>
                          <li>joyLevel: {{ aiApi.response.joyLevel[0] }}</li>
                          <li>sadnessLevel: {{ aiApi.response.sadnessLevel[0] }}</li>
                          <li>stressLevel: {{ aiApi.response.stressLevel[0] }}</li>
                          <li>tiredLevel: {{ aiApi.response.tiredLevel[0] }}</li>
                        </ul>
                    </div>
                    <br><br>
                
            </div>
        
      </div>




